/* styles.css */

.container {
    max-width: 600px;
    margin: 50px auto;
}

.form-group {
    margin-bottom: 20px;
}

#result {
    margin-top: 30px;
}

#resultAlert {
    margin-bottom: 20px;
}
